<form action="/Login/Autentica" method="post">
    <label for="login">Login:</label>
    <input type="text" class="form-control" name="login" id="login" />

    <label for="senha">Senha:</label>
    <input type="password" class="form-control" name="senha" id="senha" />

    <input type="submit" value="Autenticar" class="btn btn-default" />
</form>