<form method="post" action="/Categoria/Adiciona">
    <label for="nome">Nome:</label>
    <input type="text" name="categoria.Nome" id="nome" />

    <label for="descricao">Descrição:</label>
    <input type="text" name="categoria.Descricao" id="descricao" />

    <input type="submit" value="Cadastrar" />
</form>